.content 
{   
     width: 75%;
     margin: auto;
}

#main-slider-nav-ul a
{
    color: #000000 !important;
}

#main-slider-nav-ul a
{
    color: #000000 !important;
}

a:link {
COLOR: #BBBBBB !important;
}
a:visited {
COLOR: #BBBBBB !important;
}
a:hover {
COLOR: #888888 !important;
}
a:active {
COLOR: #555555 !important;
}

.liquid-slider .polaroid{
border: 2px solid #000000;
background:#ffffff;
float:left;
width:216px;
height:300px;
margin:10px;
}

.liquid-slider .polaroid img{
width:200px;
height:200px;
margin: 6px;
}

.liquid-slider .polaroid .title{
padding: 10px;
color:black; font-size:20px;
font-family:verdana;
}

.liquid-slider .polaroid .date{
}

.liquid-slider #album img{
width:200px;
height:200px;
margin:10px;
background: #7777777;
border: 2px solid #777777;
}