.background
{
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(bottom, #FFFFFF 0%, #a7cfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom top, top top, color-stop(0%,#FFFFFF), color-stop(100%,#a7cfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, #FFFFFF 0%,#a7cfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, #FFFFFF 0%,#a7cfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #FFFFFF 0%,#a7cfdf 100%); /* IE10+ */
    background: linear-gradient(to top, #FFFFFF 0%,#a7cfdf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#a7cfdf',GradientType=1 ); /* IE6-9 */
}

.background #nav-wrapper{
    position:absolute;
    z-index:1;
}

.content {   
    width: 75%;
    margin: auto;
    
}

.content h1{
font-weight:bold;
}

#main-slider-nav-ul a
{
    color: #000000 !important;
}

#main-slider-nav-ul a
{
    color: #000000 !important;
}

a:link {
COLOR: #BBBBBB !important;
}
a:visited {
COLOR: #BBBBBB !important;
}
a:hover {
COLOR: #888888 !important;
}
a:active {
COLOR: #555555 !important;
}

.liquid-slider .polaroid{
border: 2px solid #000000;
background:#ffffff;
float:left;
width:216px;
height:300px;
margin:10px;
}

.liquid-slider .polaroid img{
width:200px;
height:200px;
margin: 6px;
}

.liquid-slider .polaroid .name{
padding: 0px 5px;
color:black; font-size:18px;
font-family:verdana;
font-weight:600;
}

.liquid-slider .polaroid .date{
padding: 0px 5px;
color:black; font-size:12px;
font-family:verdana;
font-style:italic;
}

.liquid-slider #album img{
width:200px;
height:200px;
margin:10px;
background: #7777777;
border: 2px solid #777777;
}