.row_calendar {
  position: absolute;
  float:right;
  z-index:5;
  width:auto;
  margin-left: 66%;
  margin-top: 1%;
}

.row_calendar .vertical_line{
	border-left:3px solid #A9A9A9;
	height:725px;
	position:absolute;
	margin-top:-3.5%;
	margin-left: -3.5%;
}

.row_calendar iframe{
	position: relative;
	margin-left: -1.4%;
	frameborder: 0;
}

