.content 
{   
     width: 75%;
     margin: 0 auto;
     background: #FFFFFF;
     padding: 0;  
     display: table;
     height: 100%;     
}

.background
{
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(bottom, #a7cfdf 0%, #00AADD 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, bottom top, top top, color-stop(0%,#a7cfdf), color-stop(100%,#00AADD)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, #a7cfdf 0%,#00AADD 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, #a7cfdf 0%,#00AADD 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #a7cfdf 0%,#00AADD 100%); /* IE10+ */
    background: linear-gradient(to top, #a7cfdf 0%,#00AADD 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#00AADD',GradientType=1 ); /* IE6-9 */
}

.container_marketing
{
    padding: 0;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom:20%;
    height:98%;
    
}