#nav.affix-top {
    width: 100%;
}

.navbar-inner .container
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#nav.affix {
    position: fixed;
    top: -1%;
    width: 100%;
}

/*activates drop down menu on hover*/
.dropdown:hover .dropdown-menu {
    display: block;
}
/*moves the dropdown block up ne pixel so that it is next to the navbar*/
.navbar .dropdown-menu {
 margin-top: 0px;
}

#nav-wrapper
{
    width: 100%;
}

.nav navbar-nav
{
    color: rgb(38,49,81);
}

.navbar-inner {
    /*color*/
    background: rgb(38,49,81); /*#87e0fd; /* Old browsers */
}