

#affix-top {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar-inner {    
    /*color*/
    background: rgb(38,49,81); /*#87e0fd; /* Old browsers */    
}

#body 
{
    background: rgb(1,74,142);
} 

.navbar-inner .container 
{    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}